/************AWToast*****************/
.AWToast{
	width: 100%;
	position:fixed;
	bottom:150px;
}

.AWToast .AWMsg{
	width:150px;
	margin:auto;
	text-align:center;
	padding:10px 8px;
	border-radius:3px;
	font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 12px;
	font-weight: 300;
	display:block;
	word-break: break-all;
	word-wrap: break-word;
}


/********color theme***********/
.default{
	background-color: #222;
    border-color: #222;
    color: #eee;
}

.primary{
	background-color: #1b9af7;
	border-color: #1b9af7;
	color: #fff;
}

.caution{
	 background-color: #ff4351;
	 border-color: #ff4351;
	 color: #fff;
}

.highlight{
	 background-color: #feae1b;
     border-color: #feae1b;
     color: #fff;
}


/**
**glow animation
** 光晕
**/
.glow-default{
	-webkit-animation:glowing-default 3s linear .1s infinite normal;
	animation:glowing-default 3s linear .1s infinite normal;
}

.glow-primary{
	-webkit-animation:glowing-primary 3s linear .1s infinite normal;
	animation:glowing-primary 3s linear .1s infinite normal;
}

.glow-caution{
	-webkit-animation:glowing-caution 3s linear .1s infinite normal;
	animation:glowing-caution 3s linear .1s infinite normal;
}

.glow-highlight{
	-webkit-animation:glowing-highlight 3s linear .1s infinite normal;
	animation:glowing-highlight 3s linear .1s infinite normal;
}

/******glowing keyFrame*******/
/**
**Glow animation
**/
@-webkit-keyframes glowing-default{
	from{
		-webkit-box-shadow:0 0 0 rgba(21, 36, 0, 0.3);
		box-shadow:0 0 0 rgba(21, 36, 0, 0.3);
	}
	50%{
		-webkit-box-shadow:0 0 30px rgba(21, 36, 0, 0.8);
		box-shadow:0 0 30px rgba(21, 36, 0, 0.8);
	}
	to{
		-webkit-box-shadow:0 0 0 rgba(21, 36, 0, 0.3);
		box-shadow:0 0 0 rgba(21, 36, 0, 0.3);
	}
}
@keyframes glowing-default {
	  from {
	    -webkit-box-shadow: 0 0 0 rgba(21, 36, 0, 0.3);
	            box-shadow: 0 0 0 rgba(21, 36, 0, 0.3);
	       }
	  50% {
	    -webkit-box-shadow: 0 0 20px rgba(21, 36, 0, 0.8);
	            box-shadow: 0 0 20px rgba(21, 36, 0, 0.8); 
	      }
	  to {
	    -webkit-box-shadow: 0 0 0 rgba(21, 36, 0, 0.3);
	            box-shadow: 0 0 0 rgba(21, 36, 0, 0.3); 
	     } 
}
 
@-webkit-keyframes glowing-primary{
	from{
		-webkit-box-shadow:0 0 0 rgba(0, 191, 255, 0.3);
		box-shadow:0 0 0 rgba(0, 191, 255, 0.3);
	}
	50%{
		-webkit-box-shadow:0 0 30px rgba(0, 191, 255, 0.8);
		box-shadow:0 0 30px rgba(0, 191, 255, 0.8);
	}
	to{
		-webkit-box-shadow:0 0 0 rgba(0,191,255, 0.3);
		box-shadow:0 0 0 rgba(0, 191, 255, 0.3);
	}
}
@keyframes glowing-primary {
	  from {
	    -webkit-box-shadow: 0 0 0 rgba(0, 191, 255, 0.3);
	            box-shadow: 0 0 0 rgba(0, 191, 255, 0.3);
	       }
	  50% {
	    -webkit-box-shadow: 0 0 20px rgba(0, 191, 255, 0.8);
	            box-shadow: 0 0 20px rgba(0, 191, 255, 0.8); 
	      }
	  to {
	    -webkit-box-shadow: 0 0 0 rgba(0, 191, 255, 0.3);
	            box-shadow: 0 0 0 rgba(0, 191, 255, 0.3); 
	     } 
 }
  
@-webkit-keyframes glowing-caution{
	from{
		-webkit-box-shadow:0 0 0 rgba(44, 154, 219, 0.3);
		box-shadow:0 0 0 rgba(44, 154, 219, 0.3);
	}
	50%{
		-webkit-box-shadow:0 0 30px rgba(44, 154, 219, 0.8);
		box-shadow:0 0 30px rgba(44, 154, 219, 0.8);
	}
	to{
		-webkit-box-shadow:0 0 0 rgba(44, 154, 219, 0.3);
		box-shadow:0 0 0 rgba(44, 154, 219, 0.3);
	}
}
@keyframes glowing-caution {
	  from {
	    -webkit-box-shadow: 0 0 0 rgba(255, 92, 103, 0.3);
	            box-shadow: 0 0 0 rgba(255, 92, 103, 0.3);
	       }
	  50% {
	    -webkit-box-shadow: 0 0 20px rgba(255, 92, 103, 0.8);
	            box-shadow: 0 0 20px rgba(255, 92, 103, 0.8); 
	      }
	  to {
	    -webkit-box-shadow: 0 0 0 rgba(255, 92, 103, 0.3);
	            box-shadow: 0 0 0 rgba(255, 92, 103, 0.3); 
	     } 
 }
  
@-webkit-keyframes glowing-highlight{
	from{
		-webkit-box-shadow:0 0 0 rgba(254, 174, 27, 0.3);
		box-shadow:0 0 0 rgba(254, 174, 27, 0.3);
	}
	50%{
		-webkit-box-shadow:0 0 30px rgba(254, 174, 27, 0.8);
		box-shadow:0 0 30px rgba(254, 174, 27, 0.8);
	}
	to{
		-webkit-box-shadow:0 0 0 rgba(254, 174, 27, 0.3);
		box-shadow:0 0 0 rgba(254, 174, 27, 0.3);
	}
}
@keyframes glowing-highlight {
	  from {
	    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
	            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
	       }
	  50% {
	    -webkit-box-shadow: 0 0 20px rgba(254, 174, 27, 0.8);
	            box-shadow: 0 0 20px rgba(254, 174, 27, 0.8); 
	      }
	  to {
	    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
	            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); 
	     } 
 }

