<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0001</key>
	<string>未知错误</string>
	<key>0002</key>
	<string>无效的类名</string>
	<key>0003</key>
	<string>参数为空</string>
	<key>0004</key>
	<string>通讯录服务未开启，需在设备“设置－隐私－通讯录”中启用</string>
	<key>0005</key>
	<string>照片服务未开启，需在设备“设置－隐私－照片”中启用</string>
	<key>0006</key>
	<string>定位服务未开启，需在设备“设置－隐私－定位服务”中启用</string>
	<key>0007</key>
	<string>相机服务未开启，需在设备“设置－隐私－相机”中启用</string>
	<key>0101</key>
	<string>方法名错误或不存在</string>
	<key>0201</key>
	<string>更新软件url错误或请求出错</string>
	<key>0202</key>
	<string>获取包名错误</string>
	<key>0203</key>
	<string>获取app版本号错误</string>
	<key>0301</key>
	<string>获取屏幕宽度错误</string>
	<key>0302</key>
	<string>获取屏幕高度错误</string>
	<key>0303</key>
	<string>获取设备名称错误</string>
	<key>0304</key>
	<string>获取imei错误</string>
	<key>0305</key>
	<string>获取系统版本号错误</string>
	<key>0401</key>
	<string>删除文件错误</string>
	<key>0402</key>
	<string>文件路径不存在</string>
	<key>0403</key>
	<string>文件不存在</string>
	<key>0404</key>
	<string>读取文件失败</string>
	<key>0405</key>
	<string>文件数据大于10M</string>
	<key>0406</key>
	<string>创建文件路径失败</string>
	<key>0407</key>
	<string>创建文件失败</string>
	<key>0408</key>
	<string>下载url错误或请求出错</string>
	<key>0409</key>
	<string>上传文件服务端url未配置</string>
	<key>0410</key>
	<string>上传失败</string>
	<key>0501</key>
	<string>当前设备不支持拨打电话</string>
	<key>0601</key>
	<string>清除页面失败</string>
	<key>0602</key>
	<string>创建页面文件路径失败</string>
	<key>0603</key>
	<string>创建页面文件失败</string>
	<key>0604</key>
	<string>读取页面错误</string>
	<key>0701</key>
	<string>初始化录音失败</string>
	<key>0702</key>
	<string>录音失败</string>
	<key>0801</key>
	<string>当前为静音模式</string>
	<key>0901</key>
	<string>读取通讯录失败</string>
	<key>1001</key>
	<string>定位失败</string>
	<key>1101</key>
	<string>设备没有短信功能</string>
	<key>1102</key>
	<string>IOS版本过低，IOS4.0以上才支持程序内发送短信</string>
	<key>1103</key>
	<string>短信发送失败</string>
	<key>1201</key>
	<string>没有网络连接</string>
	<key>1301</key>
	<string>摄像头不可用</string>
	<key>1302</key>
	<string>选择类型错误</string>
	<key>1401</key>
	<string>订单生成失败</string>
	<key>1402</key>
	<string>订单支付失败</string>
	<key>1403</key>
	<string>用户中途取消付款</string>
	<key>1404</key>
	<string>网络连接出错</string>
	<key>1405</key>
	<string>正在处理中</string>
	<key>1501</key>
	<string>参数不在经纬度范围内</string>
	<key>1502</key>
	<string>获取地理位置失败</string>
	<key>1503</key>
	<string>无法发起算路</string>
	<key>1504</key>
	<string>节点间距离太近</string>
	<key>1505</key>
	<string>节点输入有误</string>
	<key>1506</key>
	<string>上次算路取消了，需要等一会</string>
	<key>1507</key>
	<string>算路取消</string>
	<key>1601</key>
	<string>App未注册-QQ</string>
	<key>1602</key>
	<string>发送参数错误</string>
	<key>1603</key>
	<string>未安装手Q</string>
	<key>1604</key>
	<string>API接口不支持</string>
	<key>1605</key>
	<string>QQ发送失败</string>
	<key>1606</key>
	<string>可能授权已过期，请重新获取</string>
	<key>1607</key>
	<string>登录不成功 没有获取accesstoken</string>
	<key>1608</key>
	<string>用户取消登录</string>
	<key>1609</key>
	<string>登录失败</string>
	<key>1610</key>
	<string>无网络连接,请设置网络</string>
	<key>1611</key>
	<string>增量授权不成功，没有获取accesstoken</string>
	<key>1612</key>
	<string>增量授权失败，用户取消授权</string>
	<key>1701</key>
	<string>用户取消发送</string>
	<key>1702</key>
	<string>新浪微博发送失败</string>
	<key>1703</key>
	<string>授权失败</string>
	<key>1704</key>
	<string>用户取消安装微博客户端</string>
	<key>1705</key>
	<string>不支持的请求</string>
	<key>1706</key>
	<string>新浪微博发送失败</string>
	<key>1801</key>
	<string>接口调用失败</string>
	<key>1802</key>
	<string> 重刷授权失败</string>
	<key>1901</key>
	<string>未安装微信</string>
	<key>1902</key>
	<string>用户点击取消并返回</string>
	<key>1903</key>
	<string>微信发送失败</string>
	<key>1904</key>
	<string>授权失败 </string>
	<key>1905</key>
	<string>微信不支持 </string>
</dict>
</plist>
